<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_1M_R__6hTa29wL1qlTvaGg_QN_IytJW</string>
	<key>SUPABASE_URL</key>
	<string>https://kdrfkvfkrdmjfeuaxvpj.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>CutiveMono-Regular.ttf</string>
		<string>MonaS12.otf</string>
		<string>Caveat-VariableFont_wght.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>Ink Lip Liquid Font.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cassette accesses your photos to create your cassette tape.</string>
	<key>NSPhotoLibraryAddOnlyUsageDescription</key>
	<string>Cassette saves your rendered video to your photo library.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Cassette notifies you when your AI music is ready.</string>
</dict>
</plist>
